$max-width: 60rem;

.page--post__header {
  @include page-content();
  max-width: $max-width;
  h1 {
    font-size: 3rem;
    @media (min-width: $screen-lg) {
      font-size: 5rem;
    }
    margin-bottom: 2rem;
    line-height: 1.1;
  }
}

.page--post__content {
  background-color: white;
  min-height: 55vh;
  display: block;
  color: var(--darker-color);
  padding-bottom: 4rem;
  > div {
    @include page-content();
    max-width: $max-width;
    padding-top: 1rem;
  }

  @include interesting-link();
}

.page--post__content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $color-text;
    text-transform: none;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  h2 {
    font-size: 2.9rem;
  }

  h3 {
    font-size: 2.4rem;
  }


  figure {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
}
