.page--post__header {
  @include page-content();
  h1 {
    font-size: 3rem;
    @media (min-width: $screen-lg) {
      font-size: 5rem;
    }
    margin-bottom: 3rem;
    line-height: 1.1;
  }
}

.page--post__content {
  background-color: white;
  min-height: 50vh;
  display: block;
  color: var(--darker-color);
  padding-bottom: 4rem;
  > div {
    @include page-content();
  }

  a {
    transition: background-position 0.15s 0.1s;
    background-image: linear-gradient(
      to bottom,
      var(--lighter-color) 0%,
      var(--lighter-color) 100%
    );
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 2.6rem;
    &:hover {
      cursor: pointer;
      background-image: linear-gradient(
        to bottom,
        var(--lighter-color) 0%,
        var(--lighter-color) 100%
      );
      background-position: 0 0;
    }
  }
}
