.page--list__header {
  @include page-content();
  h1 {
    font-size: 5rem;
    @media (min-width: $screen-lg) {
      font-size: 9rem;
    }
  }
}

.page--list__content {
  background-color: white;
  min-height: 55vh;
  display: block;
  color: var(--darker-color);
  padding-bottom: 4rem;
  padding-top: 1rem;

  ul {
    counter-reset: list-counter;
    margin-top: 1rem;
    @include page-content();
    @include heading-font();
    font-size: 2rem;
    @media (min-width: $screen-md) {
      font-size: 3rem;
    }
  }

  img {
    max-height: 24rem;
    width: auto;
    display: block;
    margin-bottom: 5rem;
    margin-top: 2rem;
    position: relative;
  }

  li {
    margin-bottom: 2.5rem;
    position: relative;
    &::before {
      content: counter(list-counter);
      counter-increment: list-counter;
      position: absolute;
      left: -4rem;
    }
  }

  a {
    transition: background-position 0.15s 0.1s;
    background-image: linear-gradient(
      to bottom,
      var(--lighter-color) 0%,
      var(--lighter-color) 100%
    );
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 2.6rem;
    &:hover {
      cursor: pointer;
      background-image: linear-gradient(
        to bottom,
        var(--lighter-color) 0%,
        var(--lighter-color) 100%
      );
      background-position: 0 0;
    }
  }
}
