// hack
.page--list {
  background-color: var(--background-color);
  color: var(--color);
}

.page--list__header {
  @include page-content();
  h1 {
    font-size: 5rem;
    @media (min-width: $screen-lg) {
      font-size: 9rem;
    }
  }
}

.page--list__content {
  display: block;
  color: var(--darker-color);
  padding-bottom: 4rem;

  > div {
    @include page-content();
    @include heading-font();
  }

  .card-grid {
    margin: 0;
    font-size: 2.5rem;
    @media (min-width: $screen-md) {
      font-size: 2rem;
    }
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    @media (min-width: $screen-sm) {
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    }
  }

  .card-grid--simple {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }

  .card {
    background-color: white;
    position: relative;
  }

  .card__description {
    margin-bottom: 0;
    line-height: 1.4;
    margin-top: 1rem;
  }

  a {
    display: block;
    padding: 1.5rem;
    height: 100%;
    .card__header > h2 {
      display: inline;
      transition: background-position 0.15s 0.1s;
      background-image: linear-gradient(
        to bottom,
        var(--lighter-color) 0%,
        var(--lighter-color) 100%
      );
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: 0 .8em;
    }
    &:hover {
      .card__header > h2 {
        cursor: pointer;
        background-image: linear-gradient(
          to bottom,
          var(--lighter-color) 0%,
          var(--lighter-color) 100%
        );
        background-position: 0 0;
      }
    }
  }

  .card__img {
    max-height: 17rem;
    width: auto;
    max-width: 100%;
    display: block;
    margin: 1.5rem auto 0 auto;
  }

  .card__header {
    h2 {
      font-size: 2.5rem;
    }
  }

  .card__skills {
    color: $color-text;
    font-weight: bold;
    font-size: 1.6rem;
    display:flex;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    > li {
      margin-right: .5rem;
    }
  }

  .card--simple {
    a {
      display:flex;
      justify-content: center;
      align-items: center;
      min-height: 200px;
      h2 {
        font-size: 3rem;
      }
    }
  }
}
