.about-me__trigger-button {
  position: fixed;
  bottom: 0.8rem;
  right: 0.8rem;
  height: 72px;
  width: 72px;
  font-size: 3rem;

  @media (min-width: $screen-md) {
    bottom: 2rem;
    right: 2rem;
  }
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-transform: lowercase;
  border-radius: 100px;
  background-color: var(--color);
  color: var(--background-color);
  border: 0;
  @include heading-font();
  cursor: pointer;
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out,
    border-radius 0.5s;
  outline: 0;
  transform-origin: 100% 100%;

  .about-me__question-mark {
    height: 2.5rem;
    display: inline-block;
    transition: transform 0.4s, opacity 0.25s;
    position: relative;
    top: 0.4rem;
  }

  &:focus {
    &::before {
      opacity: 0.5;
    }
  }

  &:hover .about-me__question-mark,
  &:focus .about-me__question-mark {
    transform: scale(1.25);
  }

  &.active {
    width: 100%;
    height: 100%;
    border-radius: 0;
    bottom: 0;
    right: 0;
    cursor: default;
    overflow-y: auto;

    .about-me__question-mark {
      opacity: 0;
    }
  }
}

@keyframes growUp {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.about-me__span {
  opacity: 0;
  animation: growUp 0.5s forwards;
  animation-delay: 400ms;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.about-me__container {
  margin: auto;

  text-align: left;
  text-transform: none;

  @media (min-width: $screen-lg) {
    position: relative;
    padding-top: 2rem;
    padding-bottom: 2rem;
    max-width: 800px;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  h1 {
    font-size: 3.5rem;
    margin-top: 4rem;
    line-height: 1.1;
    margin-bottom: 1rem;
    animation: fadeInDown 0.5s forwards;
    animation-delay: 400ms;
    opacity: 0;

    @media (min-width: $screen-md) {
      text-align: center;
      font-size: 4.2rem;
      margin-top: 3.5rem;
    }
  }
}

.about-me__contents {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  height: 100%;
  @media (min-width: $screen-md) {
    position: relative;
    height: auto;
  }

  background: white;
  color: $color-text;
  @include interesting-link(1.5rem);
  padding: 1.5rem;
  @media (min-width: $screen-md) {
    padding: 2.5rem;
  }
  font-weight: normal;
  opacity: 0;
  animation: fadeInDown 0.5s forwards;
  animation-delay: 700ms;
  p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 0;
    @media (min-width: $screen-md) {
      font-size: 1.8rem;
    }
  }
}

.about-me__close-btn {
  outline: 0;
  border-radius: 4px;
  padding-top: 0.3rem;
  z-index: 1;
  position: absolute;
  right: 1rem;
  top: 1rem;

  @media (min-width: $screen-md) {
    right: 2rem;
    top: 2.5rem;
  }

  cursor: pointer;
  height: 4rem;
  width: 4rem;
  border: 0;
  background-color: transparent;
  opacity: 0;
  animation: fadeInDown 0.5s forwards;
  animation-delay: 1200ms;
  path {
    stroke: var(--background-color);
    fill: var(--background-color);
  }
  svg {
    transition: transform 0.4s;
  }
  &:hover {
    svg {
      transform: scale(1.2);
    }
  }
  &:focus:not(:active) {
    box-shadow: 0 0 0 4px var(--background-color);
  }
}

.about-me__links {
  display: flex;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  @media (min-width: $screen-md) {
    justify-content: center;
  }
  > div {
    margin-right: 2rem;
  }
}
