@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:700');
body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue",
    Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
 @include heading-font();
  margin: 0;
}


a {
  color: inherit;
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
}


.opacity-0 {
  opacity: 0;
}


.header {
  @include page-content();
}
