@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,700");


body {
  position: relative;
  font-family: $base-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font();
  margin: 0;
}

a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

video,
img {
  max-width: 100%;
}

.lead {
  font-size: 2.2rem;
  line-height: 1.4;
  font-weight: 400;
  font-family: $base-font-family;
}

p, ol {
  font-size: 1.7rem;
  line-height: 1.5;
  font-weight: 400;
  color: $color-text;
}

figure {
  margin: 0;
}

figcaption {
  font-size: 1.3rem;
  color: $color-text;
  line-height: 1.5;
  font-style: italic;
  margin-top: 1rem;
}
