.header {
  @include page-content();
  padding-bottom: 1rem;
  text-transform: lowercase;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .links {
    @include heading-font();
    justify-self: flex-end;
    @media (min-width: $screen-md) {
      display: flex;
    }
    div {
      margin-bottom: 1rem;
      @media (min-width: $screen-md) {
        margin-left: 3rem;
        margin-bottom: 0;
      }
    }
  }
  .home-icon {
    height: 2.2rem;
  }

  a {
    position: relative;
    display: inline-block;

    &::after {
      content: '';
      height: 0.2rem;
      position: absolute;
      bottom: -0.3rem;
      left: 0;
      transition: transform 0.2s;
      transform: scaleX(0);
      width: 100%;
      background-color: var(--color);
      transform-origin: 0 50%;
    }

    &:hover::after {
      transform: scaleX(1);
    }
  }
}
