@mixin page-content () {
  padding-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  max-width: 50rem;
}


@mixin heading-font () {
  font-family: "Josefin Sans";
  text-transform: lowercase;
  font-weight: 700;
}
