$transition-time: .4s;

.page {
  background-color: var(--background-color);
  color: var(--color);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  z-index: 1;
}

@keyframes slideInTop {
  0% {
    transform: translateY(100%);
    opacity:0;
  }
  100% {
    transform: translateY(0);
  }
}

.page--slide-in-top {
  animation: slideInTop $transition-time;
  z-index: 2;
}
